@use "variables";


table[role=table] {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    min-width: 400px;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  }
  
  table[role=table] thead tr {
    background-color: #193d5abe;
    color: #40c2c2;
    text-align: left;
    font-weight: bold;
  }
  
  table[role=table] th,
  table[role=table] td {
    padding: 5px 15px;
  }
  
  table[role=table] tbody tr {
    border-bottom: 1px solid #dddddd;
  }
  
  table[role=table] tbody tr:nth-of-type(even) {
    background-color: #2d7c9b5e;
  }
  
  table[role=table] tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
  }
  
  table[role=table] tbody tr.active-row {
    font-weight: bold;
    color: #060b0e;
  }
  